body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.activeStyle{
  text-decoration: none;
  padding:8px;
  font-size: large;

}
.defaultStyle{
  text-decoration: none;
  padding:8px;
  font-size: large;
}
.first{
 border: 1px solid red;
}
.text Link{
  display: flex;
  justify-content: flex-start;
}
.navbar{
  width: 100%;
  height: 120px;
  background-color:white;
  top:'0';
  position:fixed;
}
.hover-img{
  position: absolute;
  top: 0;
  left: 0;
  opacity:0;
}
.parent:hover .hover-img{
  opacity: 1;
  cursor: pointer;
}